extends layout

block content
  .origin-form
    h1= title
    p Welcome to #{title}

    p Enter your nearest airport:

    form(method="post", action="", id="origin-form")
      input(type="text", name="origin")
      button(type="submit") Let's go!
  .trip-planning
