extends layout

block content
  .container
    .origin-form
      h1= title
      p Welcome to #{title}

      p Enter your nearest airport:

      form(method="post", action="", id="origin-form")
        input(type="text", name="origin" id="origin-input")
        button(type="submit") Let's go!
    .itinerary
    .raw-data

