@import url(http://fonts.googleapis.com/css?family=Francois+One);

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
   margin: 0;
}
h1, h2, h3 {
  font-family: 'Francois One', sans-serif;
  line-height: 1.1em;
  letter-spacing: normal;
  color: #222;
}
h1 {
  font-size: 102px;
  font-weight: 900;
}
h2 {
  letter-spacing: -0.02em;
  font-weight: 700;
}
h3 {
  letter-spacing: -0.02em;
  font-weight: 500;
}
p {
  margin-bottom: 0px;
  font-size: 16px;
  color: #444;
}
a {
  color: #428bca;
  text-decoration: none;
}
a:hover, a:focus {
  color: #005580;
  text-decoration: underline;
}
.welcome {
  padding: 30px 10px 150px 10px;
  text-align: center;
  position: relative;
  width: 100%;
  background: url(poly.svg);
  background-size: cover;
}
.form-wrap {
  margin: auto;
  max-width: 500px;
  width: 100%;
  position: relative;
}
.form-wrap input {
  border: solid 2px #888;
  text-align: center;
  font-size: 24px;
  padding: 10px 5px;
  display: inline-block;
}
#origin-input {
  border-radius: 7px 0 0 7px;
  width: calc(100% - 70px - 15px);
}
#origin-submit {
  border-radius: 0 7px 7px 0;
  width: 70px;
  border: solid 2px #0099cc;
  background-color: #0099cc;
  color: #fff;
  margin-left: -2px;
}
#origin-submit:disabled {
  color: #d4d4d4;
}
.intro { text-align: center; }
.summary { font-size: 34px; }
.summary-small { font-size: 24px; }
.container {
  padding: 10px;
}
.trip-leg {
  border: solid #222 1px;
  background-color: #f8f8f8;
  border-radius: 5px;
  margin: 20px auto;
  padding: 10px 20px;
  max-width: 800px;
  width: 90%;
}
.trip-leg h2 {
  color: #314458;
}

/* Spinner */
/*=================*/
.spinner {
  margin: 15px auto;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 10px;
  display: none;
}

.spinner > div {
  background-color: #EC5437;
  height: 100%;
  width: 6px;
  display: inline-block;
  margin: 0 1px;

  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
